:root {
  --primary-blue: #007BFF;
  --primary-yellow: #FFD700;
  --dark-blue: #0056b3;
  --light-blue: #e0f0ff;
  --dark-yellow: #b09c00;
  --light-yellow: #fffbe6;
  --soft-grey: #f4f4f4;
  --dark-grey: #333333;
  --off-white: #FAFAFA;
}

body {
  max-width: 90%;
  margin: 0 auto;
  font-family: 'Gabarito', sans-serif;
  color: var(--dark-grey);
  background-color: var(--light-blue);
}
@media screen and (min-width: 768px) {
  body {
      max-width: 700px;
  }
}
@media screen and (min-width: 992px) {
  body {
      max-width: 900px;
  }
}

nav {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  nav {
      flex-direction: column;
  }
}

button {
  display: inline-block;
  margin: 5px 2px;
  background-color: var(--dark-grey);
  color: var(--light-blue);
  border: none;
  padding: 12px 20px;
  font-size: 20px;
  font-family: 'Gabarito', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
button:hover {
  background-color: var(--primary-yellow);
  color: var(--dark-grey);
}
button:active {
  background-color: var(--dark-yellow);
  color: var(--soft-grey);
}

a {
  color: var(--primary-blue);
  text-decoration: none;
}
a:hover {
  color: var(--primary-blue);
}
a:active {
  color: var(--dark-blue);
}
footer {
  padding: 20px 0;
  text-align: center;
  font-size: 0.9em;
}
